.App {
  background-color: #194A66;
  text-align: center;
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.header{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  /*flex-grow: 1;*/
}

.logo{
  font-size: 72px;
  font-weight: 400;
  color: gray;
}

ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.nav-button{
  background-color: #4C96C0;
  color: white;
  border: none;
  width: 144px;
  height: 48px;
  padding: 12px 36px 12px 12px;
  text-align: left;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  flex-grow: 1;
}

.sample-text{
  color: gray;
  font-size: 72px;
  font-weight: 400px;
}

.image-cards{
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 96px;
  flex-grow: 1;

}
.image-temp{
  border: 3px solid #3882f6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}

.footer {
  height: 100px;
  background-color: #1F2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}